$color-active: #2f7ed8;
$color-border: #e3ebf3;
$color-table-even-row: #fafbfd;
$color-table-odd-row: #f6f6f7;
$color-label: #6b6f82;
$color-important: #ff9149;
$color-important-alt: #3887d9;
$color-negative: #ff4961;
$color-neutral: #6b6f82;
$color-positive: #28d094;
$color-scrollbar-thumb: #666666;
