@use 'sass:map';

$-themes: (
  dark: (
    background-lowered: #1d1f26,
    background-lowered-2: #20222a,
    background-lowered-3: #25272f,
    background-normal: #272932,
    background-elevated-2: #31343d,
    background-elevated-3: #373a44,
    background-menu: #2c303b,
    background-menu-lowered: #1f2229,
    background-accent: #4a50aa,
    background-important: #d16b27,
    background-important-alt: #0c84d1,
    background-inactive: #4a4c5a,
    background-negative: #cc1a31,
    background-neutral: #545766,
    background-neutral-alt: #6b1eb3,
    background-positive: #20a576,
    background-active-accent: #3b4194,
    background-active-important: #c56322,
    background-active-important-alt: #0e77b8,
    background-active-inactive: #42444f,
    background-active-negative: #c50d25,
    background-active-neutral: #4a4c5a,
    background-active-neutral-alt: #5d15a0,
    background-active-positive: #1e8460,
    background-hover-accent: #555cb8,
    background-hover-important: #e17831,
    background-hover-important-alt: #138fdc,
    background-hover-inactive: #545766,
    background-hover-negative: #da2840,
    background-hover-neutral: #6b6f82,
    background-hover-neutral-alt: #7627c0,
    background-hover-positive: #1fb17e,
    border-accent: #3b4194,
    border-important: #b55b1f,
    border-important-alt: #0e77b8,
    border-negative: #c50d25,
    border-inactive: #272932,
    border-neutral: #4a4c5a,
    border-neutral-alt: #5d15a0,
    border-positive: #1e8460,
    border-table: #4a4c5a,
    border-active-accent: #3b4194,
    border-active-important: #b55b1f,
    border-active-important-alt: #0e77b8,
    border-active-inactive: #272932,
    border-active-negative: #c50d25,
    border-active-neutral: #4a4c5a,
    border-active-neutral-alt: #5d15a0,
    border-active-positive: #1e8460,
    border-hover-accent: #3b4194,
    border-hover-important: #b55b1f,
    border-hover-important-alt: #0e77b8,
    border-hover-inactive: #272932,
    border-hover-negative: #c50d25,
    border-hover-neutral: #4a4c5a,
    border-hover-neutral-alt: #5d15a0,
    border-hover-positive: #1e8460,
    shadow-normal: rgba(black, 10%),
    text-contrast: white,
    text-normal: #a7abbd,
    text-elevated: #dcdcdc,
    text-elevated-2: #f6f6f6,
    text-elevated-3: white,
    text-lowered-3: black,
    text-accent: #666ee8,
    text-important: #ff9149,
    text-important-alt: #1e9ff2,
    text-negative: #ff4961,
    text-neutral: #6b6f82,
    text-neutral-alt: #903ae1,
    text-positive: #28d094,
    white: white,
  ),
  light: (
    background-lowered: #e4e5ea,
    background-lowered-2: #dddddd,
    background-lowered-3: #babfc7,
    background-normal: #f4f5fa,
    background-elevated-2: #f7f7f7,
    background-elevated-3: white,
    background-menu: #2c303b,
    background-menu-lowered: #1f2229,
    background-accent: #666ee8,
    background-important: #ff9149,
    background-important-alt: #1e9ff2,
    background-inactive: #f4f5fa,
    background-negative: #ff4961,
    background-neutral: #6b6f82,
    background-neutral-alt: #903ae1,
    background-positive: #28d094,
    background-active-accent: #3a44e1,
    background-active-important: #ff7216,
    background-active-important-alt: #0c84d1,
    background-active-inactive: #777b8f,
    background-active-negative: #ff1635,
    background-active-neutral: #545766,
    background-active-neutral-alt: #7e29ce,
    background-active-positive: #20a576,
    background-hover-accent: #7c83eb,
    background-hover-important: #ffa063,
    background-hover-important-alt: #36a9f3,
    background-hover-inactive: #babfc7,
    background-hover-negative: #ff6377,
    background-hover-neutral: #777b8f,
    background-hover-neutral-alt: #9a4ce2,
    background-hover-positive: #39d9a0,
    border-accent: #3a44e1,
    border-important: #ff7216,
    border-important-alt: #0c84d1,
    border-inactive: #babfc7,
    border-negative: #ff1635,
    border-neutral: #545766,
    border-neutral-alt: #7e29ce,
    border-positive: #20a576,
    border-table: #e4e5ea,
    border-active-accent: #232fde,
    border-active-important: #fc6300,
    border-active-important-alt: #0b75b9,
    border-active-inactive: #545766,
    border-active-negative: #fc0021,
    border-active-neutral: #484b58,
    border-active-neutral-alt: #6f27b1,
    border-active-positive: #20a576,
    border-hover-accent: #5059e5,
    border-hover-important: #ff8230,
    border-hover-important-alt: #0d93e9,
    border-hover-inactive: #85899f,
    border-hover-negative: #ff304b,
    border-hover-neutral: #5f6374,
    border-hover-neutral-alt: #7e29ce,
    border-hover-positive: #24bb85,
    shadow-normal: rgba(black, 10%),
    text-contrast: black,
    text-normal: #6b6f82,
    text-elevated: #dcdcdc,
    text-elevated-2: #f6f6f6,
    text-elevated-3: white,
    text-lowered-3: black,
    text-accent: #666ee8,
    text-important: #ff9149,
    text-important-alt: #1e9ff2,
    text-negative: #ff4961,
    text-neutral: #6b6f82,
    text-neutral-alt: #903ae1,
    text-positive: #28d094,
    white: white,
  ),
);

@mixin apply-color(
  $property,
  $color,
  $value-prefix: null,
  $value-postfix: null,
  $rule-postfix: '',
) {
  @each $-theme, $-colors in $-themes {
    body > #app > .app-container.theme-#{$-theme} &#{$rule-postfix} {
      $-value: map.get($-colors, $color);

      @if $value-prefix {
        $-value: $value-prefix $-value $value-postfix;
      }

      #{$property}: $-value;
    }
  }
}
