$-font-family-fallback: Helvetica, Arial, sans-serif;
$-font-open-sans: 'Open Sans';

$font-family-normal: $-font-open-sans, $-font-family-fallback;

$font-size-normal: 14px;
$font-size-large: $font-size-normal * 1.1;
$font-size-large-2: $font-size-normal * 1.15;
$font-size-large-3: $font-size-normal * 1.25;
$font-size-large-4: $font-size-normal * 1.35;
$font-size-large-5: $font-size-normal * 1.5;
$font-size-large-6: $font-size-normal * 2;
$font-size-small: $font-size-normal * 0.9;
$font-size-small-2: $font-size-normal * 0.75;
$font-size-small-3: $font-size-normal * 0.5;
