@import './base.scss';

&.size-large {
  font-size: $font-size-large;
}

&.size-large-2 {
  font-size: $font-size-large-2;
}

&.size-large-3 {
  font-size: $font-size-large-3;
}

&.size-large-4 {
  font-size: $font-size-large-4;
}

&.size-large-5 {
  font-size: $font-size-large-5;
}

&.size-large-6 {
  font-size: $font-size-large-6;
}

&.size-normal {
  font-size: $font-size-normal;
}

&.size-small {
  font-size: $font-size-small;
}

&.size-small-2 {
  font-size: $font-size-small-2;
}

&.size-small-3 {
  font-size: $font-size-small-3;
}
